@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* General Styling */

body {
    font-family: Arial, sans-serif;
    background-color: rgba(14, 14, 14, 255);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}